#blogs{
    max-width: 100%;
    margin: 0 1rem;
}

#blogs .card{
    width: 100% !important;
}

@media (min-width: 768px) {
    #blogs{
        width: 75%;
        margin: 0 auto;
    }
    #blogs .card{
        width: 75% !important;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    #blogs{
        width: 50%;
        margin: 0 auto;
    }
}